<header>
  <div>
    <h2><%= kdramas[0].name %></h2>
    <ul>
      <% kdramas[0].genre.forEach(kdrama => { %>
        <li><%= kdrama.charAt(0).toUpperCase() + kdrama.slice(1)%></li>
      <%}); %>
    </ul>
  </div>
</header>
