<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="body-kdrama-single">
    <header class="header-detail">
      <nav>
        <a href=""></a>
      </nav>
      
    </header>
    <main class="main-detail">
        <h1>The hymn of Death</h1>
        <p>Music, Historical, Romance, Melodrama</p>

        <h2>About</h2>
        <p>Based on the true story of Kim Woo-Jin and Yun Sim-Deok. Kim Woo-Jin is a stage drama writer while Korea is under Japanese occupation. He is already married, but he falls in love with Yun Sim-Deok. Yun Sim-Deok is the first Korean soprano. She records the song “Praise of Death” which becomes the first Korean pop song in 1926. Kim Woo-Jin and Yun Sim-Deok’s fate ends tragically.</p>
    </main>

    <script src="js/visibility.js"></script>
  </body>
</html>
