<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="body-kdrama-single">
    <header class="header-detail">
      <img class="detail-img" src="/img/404-cover.jpg" alt="">
      <nav>
        <a href="/mylist"></a>
      </nav>
    </header>
    <main class="main-detail">
      <section>
        <h1><%= tmdb.name %></h1>
        <ul>
          <% tmdb.genres.forEach(kdrama => { %>
            <li><%= kdrama.charAt(0).toUpperCase() + kdrama.slice(1)%></li>
          <%}); %>
        </ul>

        <h2>About</h2>
        <p><%= tmdb.overview %></p>
    
      </section>
    </main>
    <script src="/js/detail.js"></script>
    <script src="/js/visibility.js"></script>
  </body>
</html>
