<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="body-kdrama-single">
    <header class="header-detail">
      <nav>
        <a href="/mylist"></a>
      </nav>
      
    </header>
    <main class="main-detail">
      <section>
        <h1><%= kdramas[0].name %></h1>
        <ul>
          <% kdramas[0].genre.forEach(kdrama => { %>
            <li><%= kdrama.charAt(0).toUpperCase() + kdrama.slice(1)%></li>
            <!-- Bron: https://stackoverflow.com/questions/1026069/how-do-i-make-the-first-letter-of-a-string-uppercase-in-javascript -->
          <%}); %>
        </ul>

        <h2>About</h2>
        <p><%= kdramas[0].storyline %></p>
    
      </section>
    </main>

    <script src="/js/visibility.js"></script>
  </body>
</html>
