<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="body-kdrama-single">
    <header class="header-detail">
      <nav>
        <a href="/mylist"></a>
      </nav>
      
    </header>
    <main class="main-detail">
      <section>
        <h1><%#= kdramas[0].name %></h1>
        <p><%#= kdramas[0].genre %></p>

        <h2>About</h2>
        <p><%#= kdramas[0].storyline %></p>
    
      </section>
    </main>

    <script src="js/visibility.js"></script>
  </body>
</html>
