<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="img/logo.svg">
    <title>Chingu: Find your K-drama Seoulmate</title>

    <!-- Google font: https://fonts.google.com/specimen/Poppins?query=popp -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="body-kdrama-single">
    
    <header class="header-detail">
        <a href=""></a>
    </header>
    <main class="main-detail">
        <h1>The hymn of Death</h1>
        <p>Music, Historical, Romance, Melodrama</p>

        <h2>About</h2>
        <p>Based on the true story of Kim Woo-Jin and Yun Sim-Deok. Kim Woo-Jin is a stage drama writer while Korea is under Japanese occupation. He is already married, but he falls in love with Yun Sim-Deok. Yun Sim-Deok is the first Korean soprano. She records the song “Praise of Death” which becomes the first Korean pop song in 1926. Kim Woo-Jin and Yun Sim-Deok’s fate ends tragically.</p>
    </main>

    <script src="js/visibility.js"></script>
  </body>
</html>
