<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="img/logo.svg" />
    <title>Chingu: Find your K-drama Seoulmate</title>

    <!-- Google font: https://fonts.google.com/specimen/Poppins?query=popp -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('../partials/logo'); %>
    <form action="/matchresult">
      <fieldset>
        <label>
          <input
            type="file"
            id="uploadImage"
            accept="image/*"
            onchange="PreviewImage()"
          />
          Add selca
        </label>
        <img id="uploadPreview" />
        <!-- Bron: https://stackoverflow.com/questions/18457340/how-to-preview-selected-image-in-input-type-file-in-popup-using-jquery -->
      </fieldset>

      <fieldset>
        <label for="name">Username</label>
        <input type="text" id="name" name="name" placeholder="Chingu..." />
      </fieldset>

      <fieldset>
        <label for="location">Location</label>
        <input
          type="text"
          id="location"
          name="locaton"
          placeholder="Seoul..."
        />
        <!-- API location -->
      </fieldset>

      <fieldset>
        <label for="genre">Favorite genre?</label>
        <select id="genre" name="genre">
          <% resultGenre.forEach(result=>{ %>
          <option value="genre"><%= result %></option>

          <% }); %> 
          
          <%# genre.forEach(result=>{ %>
          <!-- <option value="genre"> <%#= result %> </option> -->
          <%# }); %>
          
        </select>
      </fieldset>

      <fieldset>
        <!-- Top 3 kdramas -->
        <label for="name">Favorite kdramas</label>
      </fieldset>

      <fieldset>
        <!-- Favorite people -->
        <label for="name">Favorite people</label>
      </fieldset>

      <input type="submit" value="Make a match" />
    </form>

    <!-- Testen api location into form -->
    <form action="geo/ruteplanlag.php" method="get">
      <div id="divSample" class="hideClass">
        Latitude:
        <input type="text" id="Latitude" name="Latitude" value="" />
        <br />
        <br />Longitude:
        <input type="text" id="Longitude" name="Longitude" value="" />
        <br />
      </div>
      <br />Position
      <input type="text" id="Position1" name="Position1" value="Miami" />
      <br />
      <br />
      <input
        type="button"
        value="Get Location"
        onclick="getLocationConstant()"
      />
      <br />
      <br />
      <input type="submit" value="Add GPS Location" class="small" />
    </form>
    <!-- Ends here -->

    <script src="js/visibility.js"></script>
    <script src="js/form.js"></script>
    <script>
      // Testen api location into form
      function getLocationConstant() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(onGeoSuccess, onGeoError);
        } else {
          alert("Your browser or device doesn't support Geolocation");
        }
      }

      // If we have a successful location update
      function onGeoSuccess(event) {
        document.getElementById("Latitude").value = event.coords.latitude;
        document.getElementById("Longitude").value = event.coords.longitude;
        document.getElementById("Position1").value =
          event.coords.latitude + ", " + event.coords.longitude;
      }

      // If something has gone wrong with the geolocation request
      function onGeoError(event) {
        alert("Error code " + event.code + ". " + event.message);
      }
    </script>
  </body>
</html>
