<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="img/logo.svg">
    <title>Chingu: Find your K-drama Seoulmate</title>

    <!-- Google font: https://fonts.google.com/specimen/Poppins?query=popp -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('../partials/logo'); %>
    <form action="">
      <!-- <label for="img"
        >Add selca:
        <input type="file" id="img" name="img" accept="image/*" />
      </label> -->
      <!-- Bron: https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_input_accept -->

      <label>
        <input class="file1" type="file" id="uploadImage" accept="image/*" onchange="PreviewImage()"/>
        Add selca
      </label>
      <img id="uploadPreview" />
      <!-- Bron: https://stackoverflow.com/questions/18457340/how-to-preview-selected-image-in-input-type-file-in-popup-using-jquery -->

      <label class="custom-file-upload">
        <input class="file3" type="file" />
        <i class="fa fa-cloud-upload"></i> Custom Upload
      </label>
      <!-- Bron: http://jsfiddle.net/1pc9pcev/ -->

      <fieldset>
        <label for="name">Username</label>
        <input type="text" id="name" name="name" placeholder="Chingu..." />
      </fieldset>

      <fieldset>
        <label for="location">Location</label>
        <input
          type="text"
          id="location"
          name="locaton"
          placeholder="Seoul..."
        />
        <!-- API location -->

        <button id="find-me">Show my location</button>
        <p id="status"></p>
        <a id="map-link" target="_blank"></a>
        <!-- Bron: https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API/Using_the_Geolocation_API#examples -->
      </fieldset>

      <fieldset>
        <label for="genre">Favorite genre?</label>
        <select id="genre" name="genre">
          <% genreArray.resultGenre.forEach(result=>{ %>
          <option value="genre"><%= result %></option>

          <% }); %> <%# genre.forEach(result=>{ %>
          <!-- <option value="genre"> <%#= result %> </option> -->
          <%# }); %>
        </select>
      </fieldset>

      <fieldset>
        <!-- Top 3 kdramas -->
        <label for="name">Favorite kdramas</label>
      </fieldset>

      <fieldset>
        <!-- Favorite people -->
        <label for="name">Favorite people</label>
      </fieldset>

      <input type="submit" value="Make a match" />
    </form>

    <script src="js/visibility.js"></script>
    <script src="js/form.js"></script>
    <script>
      function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

        oFReader.onload = function (oFREvent) {
          document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
      }
    </script>
  </body>
</html>
