<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="body-index">
    <%- include('../partials/header'); %>
    <main class="main-index">
      <h1>Find your K-drama Seoulmate</h1>
      <p>
        To fill in this form, you get a recommendation list and make new friends
        to watch with!
      </p>

      <div class="dropdown">
        <button class="dropbtn">Choose profile</button>
        <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        </div>
      </div>

      <form action="">
        <select id="profile" name="profile">
          <option value="user1">Choose profile</option>
          <option value="user1">Xiao xiao</option>
          <option value="user2">Lei Chu Xia</option>
          <option value="user3">Veronica Park</option>
        </select>
      </form>
      <!-- Bron: https://www.freecodecamp.org/news/html-select-tag-how-to-make-a-dropdown-menu-or-combo-list/ -->
    </main>
    <img src="img/logo.svg" alt="Logo" />

    <script src="js/visibility.js"></script>
  </body>
</html>
