<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="body-index">
    <%- include('../partials/header'); %>
    <main class="main-index">
      <h1>Find your K-drama Seoulmate</h1>
      <p>
        To fill in this form, you get a recommendation list and make new friends
        to watch with!
      </p>

      <!-- TODO: onderste dropdown kiezen -->
      <section class="ch-member">
        <h2 class="visually-hidden">Choose profile</h2>
        <button>Choose profile</button>
        <div class="ch-content">
          <%- include('../partials/profile-user'); %>
        </div>
      </section>
      <!-- Bron: https://www.w3schools.com/css/css_dropdowns.asp -->

      <!-- <form action="">
        <select id="profile" name="profile">
          <option value="user1">Choose profile</option>
          <option value="user1">Xiao xiao</option>
          <option value="user2">Lei Chu Xia</option>
          <option value="user3">Veronica Park</option>
        </select>
      </form> -->
      <!-- Bron: https://www.freecodecamp.org/news/html-select-tag-how-to-make-a-dropdown-menu-or-combo-list/ -->
    </main>
    <img class="index-logo" src="img/logo.svg" alt="Logo" />

    <script src="js/visibility.js"></script>
  </body>
</html>
