<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/logo'); %>
    <main class="main-match">
      <% if(dataMatch.matchResult){ %>
      <h1>Congratulations!</h1>
      <p>You have found <%= dataMatch.aantalMatches %> seoulmates!</p>
      <!-- Slider results -->
      <a href="/profile">See profile</a>
      <% } else { %>
      <h1>I'm so sorry</h1>
      <p>You have 0 matches, but maybe you like these kdramas instead!</p>
      <!-- Slider results -->
      <a href="/form">Make a new match</a>
      <% } %>
    </main>

    <script src="js/visibility.js"></script>
  </body>
</html>
