<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/logo'); %>
    <main class="main-match <% if(tmdb.added){ %> tmdb-added <% } %>">
    <!-- <main class="main-match tmdb-added"> -->
      
      <% if(tmdb.added){ %> <% } %>
      
    </main>

    <script src="js/visibility.js"></script>d
  </body>
</html>
