<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="body-mylist">
    <nav class="nav-mylist">
      <a href="/">Choose K-drama</a>
    </nav>
    <section>
      <h2 class="visually-hidden">User profile</h2>
      <img src="" alt="">
      <p>Xiao xiao</p>
    </section>
    <script src="js/visibility.js"></script>
  </body>
</html>
