<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="body-mylist">
    <nav class="nav-mylist">
      <a href="/">Choose K-drama</a>
    </nav>
    <a class="user-profile" href="#"
      ><img src="img/user-1.jpg" alt="User 1" /><%#= users[0].name %></a
    >
    <main class="main-mylist">
      <h1 class="visually-hidden">List of kdramas</h1>
      <article>
        <a href="">
          <h2 class="visually-hidden">Drama poster</h2>
          <img class="poster-img" src="img/101.jpg" alt="Kdrama poster" />
          <form action="/mylist" method="post">
            <button>
              <i class="fa-solid fa-heart"></i>
              <noscript>
                <div class="heart-add"></div>
              </noscript>
            </button>
          </form>
        </a>
        <h3>Hymn of death</h3>
      </article>
      <article>
        <a href="">
          <h2 class="visually-hidden">Drama poster</h2>
          <img class="poster-img" src="img/101.jpg" alt="Kdrama poster" />
          <form action="">
            <button>
              <i class="fa-solid fa-heart"></i>
              <noscript>
                <div class="heart-add"></div>
              </noscript>
            </button>
          </form>
        </a>
        <h3>Hymn of death</h3>
      </article>
      <article>
        <a href="">
          <h2 class="visually-hidden">Drama poster</h2>
          <img class="poster-img" src="img/101.jpg" alt="Kdrama poster" />
          <form action="">
            <button>
              <i class="fa-solid fa-heart"></i>
              <noscript>
                <div class="heart-add"></div>
              </noscript>
            </button>
          </form>
        </a>
        <h3>Hymn of death</h3>
      </article>
      <article>
        <a href="">
          <h2 class="visually-hidden">Drama poster</h2>
          <img class="poster-img" src="img/101.jpg" alt="Kdrama poster" />
          <form action="">
            <button>
              <i class="fa-solid fa-heart"></i>
              <noscript>
                <div class="heart-add"></div>
              </noscript>
            </button>
          </form>
        </a>
        <h3>Hymn of death</h3>
      </article>
    </main>
    <script src="js/visibility.js"></script>
    <script src="https://kit.fontawesome.com/c24c386355.js" crossorigin="anonymous"></script>
    <script src="js/mylist.js"></script>
  </body>
</html>
