<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="body-profile">
    <%- include('../partials/logo'); %>
    <section class="section-profile">
      <h1 class="visually-hidden">User profile</h1>
      <section>
        <h2>@<%= profileMatch.username %></h2>
        <h3>friends</h3>
        <p><%= profileMatch.aantalFriends %></p>
      </section>
      <img src="/img/add-selca.svg" alt="Profile img" />
    </section>

    <script src="js/visibility.js"></script>
  </body>
</html>
